*{
	margin:0;
	padding:0;
}
.main{
	/*border:2px rgb(250,250,0) solid;*/
  margin:0 auto;
	 position:relative;
}
.main h3{
  text-align:center;
}
div.vsInfo{
	height:120px;
/* 	border:2px rgba(0,200,200,1) solid; */
	padding-top: 10px;
}
.vsInfo table{
	width:300px;
	margin:0 auto;
	text-align: center;
  border:1px rgb(0,0,0) solid;
}
.vsInfo table td{
	width:90px;
	height:30px;
	line-height: 30px;
}
.vsInfo table tr:nth-child(2) td:nth-child(1):hover{
	background-color:rgba(230,100,100,0.8);
	color:rgba(255,255,255,1);
	cursor: pointer;
}
.vsInfo table tr:nth-child(3) td:nth-child(1):hover{
	background-color:rgba(230,100,100,0.8);
	color:rgba(255,255,255,1);
	cursor: pointer;
}
.vsInfo table td:nth-child(2):hover{
	background-color:rgba(100,230,200,0.8);
	color:rgba(255,255,255,1);
	cursor: pointer;
}

.disappear{
	display:none;
}
.changeMode{
	text-align: center;
	border:1px rgba(0,0,0,1) solid;
	border-radius:10px;
	width:250px;
	margin:10px auto 0;
	position: relative;
	box-shadow: 0 0 15px rgba(20,20,20,0.6);
	z-index: 99;
}
.changeMode span{
	display:inline-block;
	width: 0;
	height: 0;
	border-top:0;
	border-left: 8px transparent solid;
	border-right: 8px transparent solid;
	border-bottom: 13px rgba(0,0,0,1) solid;
	position: absolute;
	left:15px;
	top:-13px;
}
.changeMode span em{
	display:inline-block;
	width: 0;
	height: 0;
	border-top:0;
	border-left: 8px transparent solid;
	border-right: 8px transparent solid;
	border-bottom: 13px rgba(255,255,255,1) solid;
	position: absolute;
	left:-8px;
	top:1px;
}
.changeMode p{
	height:50px;
	line-height: 50px;
}
.gameMap table{
	width: 300px;
	height:300px;
	margin:20px auto 100px;
}
.gameMap table td{
	width:80px;
	height:80px;
	text-align: center;
	/*border:1px rgb(250,0,0) solid;*/
	border-radius: 10px;
	font-size: 50px;
	font-weight: bold;
	background:rgba(20,30,40,0.8);
	color:rgba(255,255,255,1);
}
.cover{
/* 	width:400px; */
  width:400px;
	height:400px;
	background-color: rgba(20,30,40,0.8);
	text-align: center;
	border:1px rgba(255,255,255,0.8) solid;
	border-radius: 10px;
	box-shadow: 0 0 25px rgba(20,20,20,0.9);
	position: absolute;
	left:50%;
	top:50%;
	margin-left: -200px;
	margin-top: -175px;
}
.tipInfo{
	width:400px;
	margin:100px auto;
	/*border:1px rgba(200,100,100,1) solid;*/
}
.tipInfo p{
	font-size: 2em;
	margin-bottom: 100px;
	color:rgba(250,250,250,0.9);
}
.tipInfo p span{
	font-weight: bold;
}
.tipInfo button{
	width:120px;
	height:40px;
	background-color:rgba(0,60,255,0.9);
	outline: none;
	border:1px rgba(255,255,255,0.8);
	border-radius: 10px;
	font-size: 20px;
	color:rgba(255,255,255,1);
	box-shadow: 0 0 15px rgba(250,250,250,0.9);
}
.tipInfo button:hover{
	background-color:rgba(255,60,0,0.9);
}
.footer{
  text-align:center;
}
@media screen and(max-width:400px){

}